 
@import url('https://fonts.googleapis.com/css?family=Arvo:400|Lora:400|Nunito:400,700');


/*#47524c; #395756;*/ 


.visually-hidden { /*https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html*/
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
} 
body:hover .visually-hidden a, body:hover .visually-hidden input, body:hover .visually-hidden button { display: none !important; } 




html {
  font-size: 1em;
background-color: #2f2f2f;
margin:0;
padding:0;
margin-right:0;
width:100%;

}


body {
  background-color: #81949a;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  width:100%;
  margin-left:0;
  padding-left: 0;
  position:relative;

}


h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}




#logo {
  position:absolute;
top:1rem;
  left:5%;
  z-index:1;
  width:20%;
 
}

img {
  width:100%;
  height:auto;
 
}

ul {
  list-style-type: none;
}
ul li {
  float:left;
  width:20%;
}
a {
  text-decoration: none;
}

.cf:before,
.cf:after {
  content:" ";
  display: table;
}
.cf:after {
  clear:both;
}


header {

 background: repeating-linear-gradient(
  45deg,
  #bfd9d8,
  #bfd9d8 5px,
 #47524c 5px,
  #47524c 10px);
 position: relative;
 padding-left: 0;
 padding-right: 0;

}

h1{
  font-family: "Nunito",Verdana,Geneva,sans-serif;
  color: #e5f0ec;
  position:absolute;
bottom:10%;
right:10%;
padding:2% 1%;
font-size: 4rem;
}


#banner {
  position:relative;
  bottom:3rem;
 right:2%;


}
nav {
  background-color: #2f2f2f;

}
nav a {
  color:#F5F1F0;
  font-family: "Nunito",Verdana,Geneva,sans-serif;
  letter-spacing: .2rem;
  font-size: 1.1rem;
}
nav li {
 margin:0;

}
aside {
 background-color: #F5F1F0;
  float:right;
  width:25%;
  padding:0 2.5%;
  margin-top:2%;
  margin-right:1.5%;
}

aside p{
  font-size: .8rem;
  text-align: center;
}

section {
  background-color:  #d9e2e3;
padding-bottom: 2%;
position:relative;
margin-bottom: 5%;
width:98%;
margin:0 auto;


}

article {
background-color: #F5F1F0;
margin:2% 1.5%;
padding:2%;
padding-top:2%;

position:relative;
width:60%;
float:left;
}

article img  {
  width:60%;
  float:left;
}
.content {
  float:right;
  width:36%;
  margin-right:1%;

}
.inner {
  clear:both;

}
h2 {

font-family: "Nunito",Verdana,Geneva,sans-serif;
font-size: 1rem;
background-color:  #26383D; 
color:#F5F1F0;
 padding:1% 4%;
 letter-spacing: .13rem;
 box-shadow: 5px 5px 2px #bfd9d8;
float:right;
text-align:center;
}
article h2 {
  margin-top:0;
  margin-bottom:15%;

}
h3 {
  color: #395756;
  font-family: "Arvo","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
  font-size: 1.3rem;
  text-align: center;
  padding:3% 0;
}
p {
  font-size: .9rem;
  /*text-align: right;*/
  letter-spacing: .02rem;
  line-height: 1.2rem;
    font-family: "Lora","Times New Roman",Times,Baskerville,Georgia,serif;

}
article p {
  text-align: center;

}



h4 {
    font-family: "Arvo","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;

font-size: .8rem;
background-color:   #d9e2e3;
color:#26383D;
 padding:1% 4%;
 letter-spacing: .03rem;
 box-shadow: 2px 3px 2px #2f2f2f;
text-align:center;
float:right;
margin-bottom:4%;
}


footer a {
  color:#F5F1F0;
  font-family: "Nunito",Verdana,Geneva,sans-serif;
  letter-spacing: .1rem;
}
footer li {
padding-left: 2%;
padding-right:1%;
width:15%;
margin-bottom: 2%;
}

input {
font-family: "Nunito",Verdana,Geneva,sans-serif;
font-size: .8rem;
padding:0;


}
footer {
 
margin:0;
padding:0;

}











/*article page*/


#story {
  padding:2.9% 0;
  width:100%;
  padding-bottom:3.6%;
}

main {
 background-color: #F5F1F0;
 padding:3% 0;
 position:relative;
 width:100%;
 padding-bottom:5%;
 margin-bottom:2%;
}

main p {
  text-align: left;
  text-indent: 1.5rem;
  padding:3%;
  width:60%;
  font-size: 1rem;
  line-height: 1.5rem;
  clear:both;
  float:left;
  padding-bottom: 0;

}
main h4 {
  font-weight:400;
  font-size: 1.1rem;
  position:absolute;
  top:-2rem;
  right:2%;
}
main h3 {
  font-size: 3rem;
 float:left;
  padding-left:3%;
}

main img {
  width:30%;
  float:right;
  margin-top:15%;
  margin-right:1.5%;
}

#hyper1 {
  margin-top:8%;
}








/*sources page*/

#container {
  padding-left:3.5%;
}
#gallery {
background-color: #F5F1F0;
padding-bottom:5%;
 margin-bottom:2%;

}

.img {
  width:30%;
  padding:1%;
float:left;
}

#sources {
  padding:2.8% 0;
  padding-bottom:3.8%;

}
#gallery a {
  color: black;
  font-size: 1rem;
  font-family: "Nunito",Verdana,Geneva,sans-serif;
  font-weight: 700;
   line-height:2rem;


}

#gallery a:hover {
  color:#26383D;
}

#gallery h4 {
  font-weight: 400;
  letter-spacing: .1rem;
  font-size: 1rem;
  font-family: "Arvo","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
   margin-left:2%;
   margin-right: 2%;

}

 #gallery div {
  margin-bottom: 1%;
 }

#gallery h4#imgsrc {
  position:relative;
  top:-1.8rem;
}

#links h4 {
  float:left;
  margin-bottom: 2%;
}
#links a {
  float:left;
   width:25%;
   margin-left:2%;
   margin-top:1%;
   padding-left:5%;
}
div.limit.cf {
  width:100%;
 padding:0;
 margin:0;
}








/*404 page*/



#errn {
background-color: #2f2f2f;
margin-top: 0;
padding-top: 2%;
padding-bottom: 0;
padding-left:.5%;
}
#errn li {
padding:0;
margin:0;
}

#errorimg {
background: repeating-linear-gradient(
  45deg,
  #bfd9d8,
  #bfd9d8 5px,
 #47524c 5px,
  #47524c 10px);
margin:5%;
margin-top:2%;
margin-bottom: 0;
position:relative;
}
#errorpg {
  background-color: #2f2f2f;
  padding-bottom: 4%;
  width:97%;
  margin:0 auto;
}

#naut {
  margin-left:1.9%;
  margin-bottom:3%;
}

#erpg {
  background-color: #81949a;
margin:4% 0;
 
}

#er {
/*float:left;*/
font-size: 4rem;
width:100%;
}

#msg {
  position:absolute;
  top:0;
  left:6.5%;
}
#oops {
  position:absolute;
  bottom:8%;
  right:4%;
  padding:1%;
  font-size: 1.3rem;
  color: #2f2f2f;
  background-color:  #d9e2e3;
  font-family: "Nunito",Verdana,Geneva,sans-serif;
}





/*CONTACT*/

form {
  width:90%;
  margin:0 auto;
 padding-top:20%;
 padding-bottom:10%;
  clear:both;
  position:relative;
}
form h4 {
  font-size: .9rem;
  font-family: "Lora","Times New Roman",Times,Baskerville,Georgia,serif;
position:absolute;
left:0;
top:0;
width:91%;

}
form input {
  display:block;
  width:98%;
  margin-bottom:6%;
}

label{
display:block;
width:100%;
margin-bottom:1%;
color: #F5F1F0;
font-family: "Arvo","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
font-size: .9rem;
letter-spacing: .02rem;
}
textarea {
   width:99%;
   height:4.5rem;
   margin-bottom: 5%;
   font-family: "Arvo","Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}
button {
  display:block;
  margin-top: 3%;
  background-color: #2f2f2f;
  color: #F5F1F0;
  border-radius: 8px;
  width:20%;
  font-family: "Nunito",Verdana,Geneva,sans-serif;
letter-spacing: .02rem;

}
#cont{
   margin-bottom: 4%;
}
#cont ul{
margin-top:4%;
 padding-left:5%;

}
#cont li {
  }
#con {
  width:97%;
 background-color: #2f2f2f;
 margin: 4% auto;
 padding-bottom:5%;

}

#cntpg {

background-color: #81949a;
}

#cntfrm {
  background: repeating-linear-gradient(
  45deg,
  #bfd9d8,
  #bfd9d8 5px,
 #47524c 5px,
  #47524c 10px);
  width:86%;
  margin:0 auto;
  padding:5% 2%;
  
}

#cntinner {
width:60%;
margin: 0 auto;
background-color: #81949a;


}









@media screen and (max-width:900px){

  #gallery .img {
    width:45%;
  }
}


@media screen and (max-width: 800px) {

body {
  width:100%;
  margin-right:0;

}
html {
  padding-right:0;
  margin-right: 0;
}

header{
width:100%;
 background: #2f2f2f;
overflow: hidden;
}
header h1 {
  right:0;
  bottom:1rem;
  padding-right:5%;
z-index:1;
}
#banner {
  right:0;
  bottom:0;
}
nav {
  margin-top: 0;
  background-color: #81949a;
  position:relative;
  overflow: hidden;
}
nav ul {
  margin:0;
  padding:0;
  margin-top: 4%;
  margin-bottom: 2%;

}

nav li {
text-align: center;
padding:0;
padding-bottom: 2%;
margin:0;
width:100%;

}

#logo {
  width:80%;
    position:absolute;
left:18%;
bottom:5%;
}

section {
  width:100%;
background-color: #F5F1F0;
}

aside {
  width:100%;
  padding:0;
  margin:0;
}

article {
  width:100%;
  margin:5% 0;
padding:1% 0;
position:relative;

}
article img {
  width:100%;
}
.inner {
  position:absolute;
  left:0;
  bottom:12%;
  background-color: rgba(255,255,255,0.7);
  z-index:1;
  width:100%;
}
article p {
  text-align:center;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-left: 2%;
  padding-right: 2%;
}
article h2 {
  margin-top:4%;
}
article h3 {
  text-align:center;
  font-size: 2rem;
  margin:0;
  padding:0;
  padding-top:1%;
  color:#26383D;
}
aside h4 {
    font-family: "Nunito",Verdana,Geneva,sans-serif;
letter-spacing: .13rem
}

.asid {
  position:relative;
  width:100%;
  margin:10% 0;
}
.asid p {
  background-color: rgba(255,255,255,0.7);
  position:absolute;
  left:0;
  bottom:7%;
  z-index: 1;
   text-align:center;
  font-size: 1.5rem;
  line-height: 2rem;
  width:96%;
  padding:2%;

}

article h2 {
  position:absolute;
  top:3%;
  left:0;
  font-size: 1.5rem;
  background-color:   #d9e2e3;
color:#26383D;
 box-shadow: 2px 3px 2px #2f2f2f;
}
aside h4 {
  color:#26383D;
  font-size: 1.5rem;
  position:absolute;
  top:0;
}
footer li {
  
  margin:0;
  padding:1% 0;

}

footer input {
 text-align:center;
  width:15%;
  margin:4% auto;

}







/*article page*/


main img {
  width:100%;
  margin:2% 0;

}
main h4 {
position:absolute;
top:0;
left:0;
width:60%;

}
main {
  padding-top: 5%;
  width:100%;
  padding-right:0;
  margin-right:0;
}

main p{
 width:88%;
 margin:3%;
 padding-right:0;

}
main h3 {
  float:right;
  padding:5%;
}





/*404 page*/

#errn {
  background-color: #81949a;
 margin:0;
padding:5% 0;

}
#errn a {
  color: #F5F1F0;
}
#errn ul {
  padding:0;
  margin:0;

}
#errn li{
  padding-bottom: 2%;

}
#errorpg {
  padding-top: 0;
  margin-top: 0;
  padding-bottom:4%;
width:100%;

}
#errorimg p {
  font-size: 1rem;
  margin-bottom: 10%

}
#errorimg {
  margin-top: 4%;
}
#erpg {
  margin-top: 0;
}
#naut {
  margin-top: 3%;
 margin-left:1.8%;
 margin-bottom: 2%
}
#msg{
  top:15%;
  left:4%;
}
#er {

  font-size: 2rem;
}
h4#oops {
  width:80%;
  font-size: 1rem;
}






/*Contact*/
#cont li {
  width:100%;
}
#cont ul {
  margin:0;
  padding:0;

}
#cont{
  padding:5% 0;
}
#con {
  width:100%;
  margin:0;

}
#cntpg {

}




/*sources page*/

h4#imgsrc {
float:left;
margin-top:7%;

}
#gallery {
  margin:0;
  width:100%;
  padding:0;
  
}
div.img a {

 padding-left:5%;

}
#gallery img {
  width:100%;
  height:auto;
  padding:0;
}
#gallery .img {
  width:100%;
}
#gallery h4 {
  position:relative;
  padding-left:5%;
  font-size: 1.2rem;
  top:-.6rem;
  margin-left:0;

}
#gallery div {
  padding:0;
  margin:0;
  margin-bottom:9%;
  width:100%;
}
#gallery a {
   font-size: 1.5rem;

}
#links div {
  margin-bottom: 0;
}
#links a {
  width:40%;
}

form{
  width:90%;
  padding-top:15%;
}
input {
 width:100%;
margin-top:0;
margin-bottom: 3%;
}
#cntinner {
  width:90%;
}
button {
  font-size: .8rem;
  padding:1%;
}

}





@media screen and (max-width:610px){
h4#imgsrc {
 margin-top:13%;
}
#msg {
  top:0;
  left:6%;
}
h4#oops {
  width:80%;
  font-size: .8rem;
}
  form {
    padding-top:25%;
  }
  section p {
    font-size: 1rem;
line-height: 1.3rem;
  }
  section h3{
    font-size: 1.5rem;
  }
  .asid p{
     font-size: 1rem;
line-height: 1.3rem;
  }
#gallery a{
  font-size: 1.3rem;
}
#links a {
  width:80%;
 }
}



 @media screen and (max-width:390px){

article p {
  font-size: 1rem;
  line-height: 1.2rem;

}
.asid p {
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 4.5%;
}

article h3 {
  font-size: 1.5rem;
}
#links a {
  width:80%;
 }
#gallery a {
  font-size: 1.2rem;
 }
 #oops h4{
  margin-left:6%;
  font-size: 3rem;
 }
 #er {
  margin-top:0;
  font-size: 1rem;
}
#msg {
  top:12%;
}
 button {
  font-size: .6rem;
  padding:1%;
}
form{
  padding-top:35%;
}
form h4 {
  font-size: .8rem;
}

}


